﻿@{
    ViewBag.Title = "About";
}
<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            About Us
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Empowerment Ministries International is a church led by Pastor MB Kareli and his wife Pastor Thulisiwe.<br />We aim to advance God's kingdom on earth as well as to raise up people who will impact the continent and the world.
        </h6>
    </div>

</div>


<div class="text-center">


    <br />
    <div class="container ">

        <div class="row">

            <div class="col-md-7 text-center">
                <h2 class="text-left text-secondary">EMPOWERMENT MINISTRIES INTERNATIONAL - <span class="font-weight-light">BRIEF BACKGROUND</span></h2>
                <p style="font-family:Century Gothic;font-size:14pt;" class="text-left text-secondary">
                    E.M.I is a vision given to both Pastors MB & T Kareli. It was established in 2005 November 06 in a place
                    called Raamkral an old prison in Bloemfontein South Africa.
                    <br />
                    <br />

                    Founded in the late 2005, Empowerment Ministries International(E.M.I) is non-denominational, multicultural church led by Senior Pastor M.B Kareli.  EMI is consistently ranked amongst the fastest growing and most influential churches in the Free State.
                    <br />
                    <br />

                    E.M.I operates as a non-profit organization with its principal campus in Bloemfontein Free State. Accelerated growth and shifting demographics have necessitated expansion to additional sites.

                    <br />
                    <br />

                    The church brings together the down-and-out, the homeless and people from other walks of life to worship and serve together.
                </p>

            </div>
            <div class="col-md-5 ">
                <img class="img-thumbnail" src="~/Images/About us.jpg" style="height:450px;min-height:40px;" />
            </div>

        </div>



    </div>
</div>


<br />
<br />

<div class="container text-center">
    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat'">
        Mission
    </h1>
    <p class="text-secondary" style="font-family:'Montserrat';font-size:13pt;">
        Transforming people,building nations and changing the world through the word.
    </p>
    <br />

    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat';">
        Vision
    </h1>
    <p class="text-secondary" style="font-family:'Montserrat';font-size:13pt;">
        Empowering God's people and advancing the Kingdom of God.
    </p>
    <br />

    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat'">
        Statement of Faith
    </h1>
    <div class="container">
        <p class="text-secondary" style="font-family:'Montserrat';font-size:13pt;">
            The Bible, the Scriptures, both Old and New Testaments,are the inspired Word of God without error in the original writings, and are the complete revelation of His will for the salvation of men,and the divine and final authority for all Christian faith and life.

        </p>
    </div>
</div>
<br />





<div class="jumbotron JumboImage_Two text-white text-center">

    <div class="container" style="padding-top:20px;padding-bottom:50px;">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding-bottom:25px;padding-top:0px;">
            We Are A One Church In Many Locations
        </h1>

        <div class="row text-white font-weight-bold p-3">

            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Theunissen</h1>
                        <p class="card-text">Contact: 082 699 2052</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=4%20Pienaar%20Avenue%20Theunissen'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>

            </div>
            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> UFS </h1>
                        <p class="card-text">Contact: 051 430 2110</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=205%20Nelson%20Mandela%20Drive'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Sterkspruit </h1>
                        <p class="card-text"> Contact: 074 794 0357</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Kromspruit'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1>Lady Grey </h1>
                        <p class="card-text">Contact: 082 699 2052</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Khwezi%20Naledi%20Lady%20Grey'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Zastron </h1>
                        <p class="card-text"> Contact: 071 035 7183</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='http://maps.google.com?q=Zastron%20Municipality'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1">
                <div class="card" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Bloemfontein </h1>
                        <p class="card-text"> Contact: 051 430 2110</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=10%20Rhodes%20Avenue%20Orajensig%20Bloemfontein%209300'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1 justify-content-center text-center">

                <div class="card justify-content-center" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> CUT </h1>
                        <p class="card-text">Contact: 051 430 2110</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1 justify-content-center text-center">

                <div class="card justify-content-center" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Bergman </h1>
                        <p class="card-text">Contact: 051 430 2110</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1 justify-content-center text-center">

                <div class="card justify-content-center" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Welkom </h1>
                        <p class="card-text">Contact: 081 793 4755</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-1 justify-content-center text-center">

                <div class="card justify-content-center" style="background-color:#061C3B;">
                    <div class="card-body">
                        <h1> Lesotho </h1>
                        <p class="card-text">Contact: 081 373 2506</p>
                        <button type="submit" role="button" class="btn btn-md btn-outline-info font-weight-bold" onclick="window.location.href='https://maps.google.com?q=20%20President%20Brand%20Bloemfontein%20Central'">
                            <i class="fa fa-map-marker"></i> Directions
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<br />

<h1 class="text-secondary font-weight-bold text-center" style="font-family:'Montserrat'">
    Meet Our Senior Pastors
</h1>

<br />

<div class="container-fluid">
    <div class="row text-center justify-content-center p-3">

        <div class="col-lg-4 font-weight-bold text-secondary" style="font-family:'Montserrat'">
            <img class="rounded-circle" width="200" height="200" src="~/Images/pastor blue suit.jpg" />
            <p>Pastor MB Kareli</p>
            <p>Senior Pastor </p>
            <div>
                <a href="https://www.facebook.com/motsamai.benedict">
                    <i class="fa fa-facebook-square text-black-50"></i>
                </a>

                |
                <a href="https://twitter.com/karelimotsamai?lang=en">
                    <i class="fa fa-twitter-square text-black-50"></i>
                </a>

            </div>

        </div>
        <div class="col-lg-4 font-weight-bold text-secondary" style="font-family:'Montserrat'">
            <img class="rounded-circle" width="200" height="200" src="~/Images/picture_5.jpg" />
            <p>Pastor T Kareli</p>
            <p>Senior Pastor </p>
            <a href="https://www.facebook.com/thulz.kareli">
                <i class="fa fa-facebook-square text-black-50"></i>
            </a>
            |
            <a href="https://za.pinterest.com/tkareli/">
                <i class="fa fa-pinterest-square text-black-50"></i>
            </a>
        </div>
        <br />
        <br />

    </div>
    <div class="container text-center">
        <h1 class="font-weight-bold text-secondary " style="font-family:'Montserrat';">Pastor MB Kareli </h1>
        <p class="text-center font-weight-lighter" style="font-family:'Century Gothic';font-size:14pt;">

            He is a husband, a father, a pastor, author, a conference speaker and an entrepreneur,born and bred in Welkom and from an early age he got a call into ministry and even today he has not deviated from that calling.

            <br /><br />

            In 2005 Pastor Motsamai Kareli founded Empowerment Ministries International which was then a small church of no more than 20 people. Today this church has experiences a sturdy increase and growth and is counted among one the fastest growing churches in the Free State.<br /><br />

            Pastor Kareli serves under the tutelage and mentorship of the Internationally acclaimed and well traveled Bishop Tudor Bismark who is his spiritual father serving as his spiritual radar and compass.

            Pastor Kareli is a passionate proponent of Leadership Development and that ardour had propelled him to study and complete Bachelors Degree in Management Leadership with the University of the Free State. He holds a Diploma in Business Management (Cum laude) from BMT College.<br /><br /> As a person who loves knowledge he recently completed his Post graduate Diploma in Future Studies with the  University of Stellenbosch. He is currrently studying Masters in Business Administration.

            His concern for the problems of our communities is expressed not only in his sermons but also through community initiatives undertaken by the ministry he leads.<br /><br />

            Ps. Kareli and his wife Ps. Thuli Kareli co-host the well renowned impactful Pastors and Leaders Summit,Empowerment Leadership Summit,Affluent Women's Conference and the Africa Empowerment Conference which help influence the spiritual and secular realms on issues of ministry and life in general.<br /><br />

            Pastor Kareli is a determined, focused visionary, a man who takes God's work serious, one who strongly opposes mediocrity in the house of God but believing that it must exude the highest levels of order and excellence
        </p>
        <h1 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">Pastor T Kareli </h1>
        <p class="text-center font-weight-lighter" style="font-family:'Century Gothic';font-size:14pt;">

            She is a wife, mother of two daughters, a pastor and community builder.<br /><br />

            She is co-founder of Empowerment Ministries International which is an Apostolic ministry whose headquarters are in Bloemfontein.
            <br /> <br />
            Pastor Thuli is a patron and champion of the annual Affluent Women's Conference (AWC) that her church organises.<br /> <br /> The AWC pursues a three dimensional objective which is to foster what is seen as 'Women Power' hoping to achieve this through:
            <ol style="list-style:none;list-style-type:none;font-family:'Century Gothic';font-size:13pt;">
                <li>
                    Leadership and Development
                </li>
                <li>
                    Economic Emancipation
                </li>
                <li>  Nation building</li>
            </ol>
        </p>
    </div>


</div>      