@{
    ViewBag.Title = "About";
}
<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            About Us
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Empowerment Ministries International is a church led by Pastor MB Kareli and his wife Mrs Thulisiwe.<br />We aim to advance God's kingdom on earth as well as to raise up people in South Africa who will impact the continent and the world.
        </h6>
    </div>

</div> <!-- close jumbotron -->


<div class="text-center">

    <h1 class="text-secondary font-weight-bold"  style="font-family:'Montserrat'">
        Our Church History
    </h1>
    <br />
    <div class="container">
        <p style="font-family:Century Gothic;">
            E.M.I is a vision given to both Ps MB & T Kareli. It was established in 2006 November 06 in a place
            called Raamkral an old prison in the city of Bloemfontein  South Africa. E.M.I is growing spontaneously currently
            with a membership of 500 plus under the leadership of Pastor Kareli.

            <br />
            <br />

            We currently host one of the life changing conferences in the city of Bloemfontein, and by the grace of God we hosted some of
            the following speakers at our annual conference -  Dr Elijah Maswanganyi, Rev
            TA Ralekgolela, Bishop Tudor Bismark, Bishop Basil Tryon and etc, artists included the following: Ps
            Patrick Duncan, Hlengiwe Mhlaba and Hiram Koopman etc, for our Africa Arise Summit the Former
            President Thabo Mbeki was a speaker.

            <br />
            <br />

            In 2013 for our Annual Empowerment Leadership Summit we
            hosted as one of our speakers Dr. J. Tibane and Professor Lazenby with the theme "Organizational
            Excellence".

            <br />
            <br />

            We are currently fellowshipping at our first acquired building at 10 Rhodes Avenue in Bloemfontein. EMI has established 5 branches so far at the following places Zastron, Lady Grey,
            Theunissen, Sterkspruit and Tweelling.
        </p>
    </div>

    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat'">
        Mission
    </h1>
    <p>
        Transforming people,building nations and changing the world through the word.
    </p>
    <br />

    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat';">
        Vision
    </h1>
    <p>
        To build an Apostolic House in South Africa with the mandate to advance God's kingdom on earth.
    </p>
    <br />

    <h1 class="text-secondary font-weight-bold" style="font-family:'Montserrat'">
        Our Believe
    </h1>
    <div class="container">
        <p>
            We believe that Jesus Christ died for us and washed our sins away.Through his death,we have been forgiven.We live to honour and worship our God in heaven who has built heaven and earth effortlessly.
        </p>
    </div>
    <br />
</div>




<div class="jumbotron JumboImage_Two text-white text-center">
  
    <div class="container" style="padding-top:20px;padding-bottom:50px;">
        <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding-bottom:25px;padding-top:0px;">
            We Are A One Church In Many Locations
        </h1>
        <div class="card-columns">

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Theunissen
                    </h1>

                    <p class="card-text text-white font-weight-bolder">4 Pienaar Laan </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Lady Grey
                    </h1>

                    <p class="card-text text-white font-weight-bolder">S909 Khwezi Naledi </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>
            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Barkly East
                    </h1>

                    <p class="card-text text-white font-weight-bolder">3202 Boyce Nondala </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Zastron
                    </h1>

                    <p class="card-text text-white font-weight-bolder">2636 New Rest </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Sterkspruit
                    </h1>

                    <p class="card-text text-white font-weight-bolder">Nomvete Str </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Bloemfontein
                    </h1>

                    <p class="card-text text-white font-weight-bolder">10 Rhodes Avenue </p>

                    <button type="submit" id="btnLearnMore" class="btn btn-secondary">
                        <i class="fa fa-map-marker"></i> Directions
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
<br />

<h1 class="text-secondary font-weight-bold text-center" style="font-family:'Montserrat'">
    Meet Our Senior Pastors
</h1>

<br />

<div class="container-fluid">
    <div class="row text-center justify-content-center p-3">

        <div class="col-lg-4">
            <img class="rounded-circle" width="250" height="250" src="~/Images/pastor blue suit.jpg" />
            <p>Pastor MB Kareli</p>
            <p>Senior Pastor </p>
            <div>
                <i class="fa fa-facebook-square"></i> |
                <i class="fa fa-envelope-square"></i> |
                <i class="fa fa-twitter-square"></i>

            </div>

        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" width="250" height="250" src="~/Images/picture_5.jpg" />
            <p>Pastor T Kareli</p>
            <p>Senior Pastor </p>
            <i class="fa fa-facebook-square"></i> |
            <i class="fa fa-envelope-square"></i> |
            <i class="fa fa-twitter-square"></i>
        </div>
        <br />
        <br />

    </div>
    <div class="container text-center">
        <h1 class="font-weight-light" style="font-family:'Montserrat';">Pastor MB Kareli </h1>
        <p class="text-center font-weight-lighter" style="font-family:'Century Gothic'">
            Pastor M.B Kareli resides in Bloemfontein, South Africa; in the region of the continent of Africa. He
            and his wife Mrs. Thulisiwe Kareli founded Empowerment Ministries International in 2006. Ps MB
            Kareli serves as an apostolic overseer of Empowerment Ministries International.<br/><br /> He is part of the
            executive committee of Jabula Ministries International (South Africa) under the leadership of Bishop
            Bismark.<br/><br /> Ps M.B Kareli holds a Diploma in Ministerial Training, Diploma in Business Management
            (Cum laude), currently on his third year studying Bachelor Management Leadership Degree at the
            University of Free State.<br/><br/>he is also a Qualified Assessor, Managing Director of Kareli Business
            Consultants cc, President of Developing Future Pioneers an NPO aiming at empowering lives of
            people through strategic economic initiatives, he is also a shareholding member of Novagen
            Marketing International, he is the author of Kingdom Motivation of success and Step Up and
            Increase Your Leadership Capacity and his vision is to build an apostolic house (Bloemfontein) and
            advance the kingdom of God.
        </p>
        <h1 class="font-weight-light" style="font-family:'Montserrat';">Pastor T Kareli </h1>
        <p class="text-center font-weight-lighter" style="font-family:'Century Gothic'">
            We currently host one of the life changing conferences in the city of Bloemfontein, and by the grace of God we hosted some of
            the following speakers at our annual conference -  Dr Elijah Maswanganyi, Rev
            TA Ralekgolela, Bishop Tudor Bismark, Bishop Basil Tryon and etc, artists included the following: Ps
            Patrick Duncan, Hlengiwe Mhlaba and Hiram Koopman etc, for our Africa Arise Summit the Former
            President Thabo Mbeki was a speaker.
        </p>
    </div>


</div>      