﻿
@{
    ViewBag.Title = "Events";

}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Events
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">
            Empowerment Ministries International has several events happening every year,with each of them serving a specific purpose.
            We host events with the intention to inspire,transform and bring change to our local communities and country at large.<br />One soul at a time.

        </h6>
    </div>

</div>
<br />
<div class="text-center">

    <h1 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">
        There's always something happening...
    </h1>
</div>

<br />
<br />


<div class="container">



    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card text-center ">
                <img class="card-img-top" src="~/Images/leadership workshop.jpg">
                <div class="card-block">

                </div>
                <div class="card-footer">

                    <div class="text-center" style="font-size:16pt;">
                        <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                            <i class="fa fa-facebook-square text-center text-secondary"></i>
                        </a>
                        <a href="https://twitter.com/emichurch?lang=en">
                            <i class="fa fa-twitter-square text-center text-secondary"> </i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card text-center">
                <img class="card-img-top" src="~/Images/leadership summit.jpg">
                <div class="card-block">
                    <h4 class="card-title font-weight-bold text-secondary" style="font-family:'Montserrat'">EMI Leadership <br /> Summit</h4>

                    <div class="card-text text-center text-secondary font-weight-bold" style="font-family:'Montserrat';padding-bottom:11px;">
                        04 May 2019
                    </div>
                </div>
                <div class="card-footer">

                    <div class="text-center" style="font-size:16pt;">
                        <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                            <i class="fa fa-facebook-square text-center text-secondary"></i>
                        </a>
                        <a href="https://twitter.com/emichurch?lang=en">
                            <i class="fa fa-twitter-square text-center text-secondary"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card text-center">
                <img class="card-img-top" src="~/Images/afluernt_2019.jpg">
                <div class="card-block">
                    <h4 class="card-title font-weight-bold text-secondary" style="font-family:'Montserrat'"> Affluent Women's Conference </h4>

                    <div class="card-text text-center text-secondary font-weight-bold" style="font-family:'Montserrat';padding-bottom:11px;">
                        24-25 August 2019
                    </div>

                </div>
                <div class="card-footer">

                    <div class="text-center" style="font-size:16pt;">
                        <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                            <i class="fa fa-facebook-square text-center text-secondary"></i>
                        </a>
                        <a href="https://twitter.com/emichurch?lang=en">
                            <i class="fa fa-twitter-square text-center text-secondary"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card text-center">
                <img class="card-img-top" src="~/Images/africa_empwerment.jpg">
                <div class="card-block">
                    <h4 class="card-title font-weight-bold text-secondary" style="font-family:'Montserrat'"> EMI Africa Conference </h4>

                    <div class="card-text text-center text-secondary font-weight-bold" style="font-family:'Montserrat';padding-bottom:11px;">
                        28 Oct - 1 Nov 2019
                    </div>

                </div>
                <div class="card-footer">

                    <div class="text-center" style="font-size:16pt;">
                        <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                            <i class="fa fa-facebook-square text-center text-secondary"></i>
                        </a>
                        <a href="https://twitter.com/emichurch?lang=en">
                            <i class="fa fa-twitter-square text-center text-secondary"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card text-center">
                <img class="card-img-top" src="~/Images/2020Events.jpg">
                <div class="card-block">
                    <h4 class="card-title font-weight-bold text-secondary" style="font-family:'Montserrat'"> EMI 2020 Events Calendar </h4>

                    <div class="card-text text-center text-secondary font-weight-bold" style="font-family:'Montserrat';padding-bottom:11px;">
                       2020 Events & Conferences
                    </div>

                </div>
                <div class="card-footer">

                    <div class="text-center" style="font-size:16pt;">
                        <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                            <i class="fa fa-facebook-square text-center text-secondary"></i>
                        </a>
                        <a href="https://twitter.com/emichurch?lang=en">
                            <i class="fa fa-twitter-square text-center text-secondary"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />


</div>
<br />
<br />
<hr />
