
@{
    ViewBag.Title = "Events";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Events
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">
            Empowerment Ministries International has over 5 events happening every year,with each of them serving a specific purpose.
            We host events with the intention to inspire,transform and bring change to our local communities and country at large.<br />One soul at a time.

        </h6>
    </div>

</div> <!-- close jumbotron -->
<br />
<div class="text-center">

    <h1 class="font-weight-bold text-secondary" style="font-family:'Montserrat';">  
        There's always something happening...
    </h1>
</div>

<br />
<br />


    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <div class="justify-content-center text-center">
                    <img src="~/Images/leadership summit.jpg" alt="Chania" height="300" width="300" class="rounded-circle justify-content-center" style="min-width:10px;min-height: 10px;align-content:center;" />
                </div>
                <br />
                <br />
                <h3 class="text-center" style="font-family:'Montserrat'">Empowerment Leadership Summit</h3>


                <p class="text-center" style="font-family:'Montserrat'">
                    Date : 13 May 2019|Venue : 10 Rhodes Avenue|Enquiries : 051 430 2110
                </p>
                <div class="text-center">
                    <i class="fa fa-facebook-square text-center"> </i> |
                    <i class="fa fa-twitter-square text-center"> </i>  |
                    <i class="fa fa-envelope text-center"> </i>        |
                </div>

            </div>

            <div class="col-lg-6 text-center">

                <div class="justify-content-center text-center">
                    <img src="~/Images/leadership workshop.jpg" alt="Chania" height="300" width="300" class="rounded-circle" style="min-width:10px; min-height:10px;" />
                </div>
                <br />
                <br />

                <h3 class="text-center" style="font-family:'Montserrat'">Pastors & Leaders Workshop 2019 </h3>

                <p class="text-center" style="font-family:'Montserrat'" >
                    Date : 23 February 2019|Venue : 10 Rhodes Avenue|Enquiries : 051 430 2110
                </p>
                <div class="text-center" >
                    <i class="fa fa-facebook-square text-center"> </i> |
                    <i class="fa fa-twitter-square text-center"> </i>  |
                    <i class="fa fa-envelope text-center"> </i>        |
                </div>
            </div>


        </div>
        <br />
        <hr />
        <div class="row">

            <div class="col-lg-6">

                <div class="justify-content-center text-center">
                    <img src="~/Images/afluent.jpg" alt="Chania" height="300" width="300" class="rounded-circle justify-content-center" style="min-width:10px;min-height: 10px;align-content:center;" />
                </div>
                <br />
                <br />
                <h3 class="text-center" style="font-family:'Montserrat'">Afluent Women's Conference 2019</h3>


                <p class="text-center" style="font-family:'Montserrat'">
                    Date : 22 August 2019|Venue : 10 Rhodes Avenue|Enquiries : 051 430 2110
                </p>
                <div class="text-center">
                    <i class="fa fa-facebook-square text-center"> </i> |
                    <i class="fa fa-twitter-square text-center"> </i>  |
                    <i class="fa fa-envelope text-center"> </i>        |
                </div>

            </div>

            <div class="col-lg-6">

                <div class="justify-content-center text-center">
                    <img src="~/Images/leadership summit.jpg" alt="Chania" height="300" width="300" class="rounded-circle" style="min-width:10px; min-height:10px;" />
                </div>
                <br />
                <br />
                <h3 class="text-center" style="font-family:'Montserrat'">Empowerment Leadership Summit</h3>

                <p class="text-center" style="font-family:'Montserrat'">
                    Date : 24 May 2019|Venue : 10 Rhodes Avenue|Enquiries : 051 430 2110
                </p>
                <div class="text-center">
                    <i class="fa fa-facebook-square text-center"> </i> |
                    <i class="fa fa-twitter-square text-center"> </i>  |
                    <i class="fa fa-envelope text-center"> </i>        |
                </div>

            </div>

        </div>
    </div>

    <br />
    <br />
    <hr />
