
@{
    ViewBag.Title = "Giving";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Giving
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Tithing is our foundation for giving. The Bible teaches us that it is the baseline standard for giving. When we give the first 10% of our income to the church, this is an expression of putting God first in our lives. Tithing is an act of worship that expresses our gratitude to God, our faith, and love for others.Offerings are free-will offerings above and beyond the tithe.
        </h6>
    </div>

</div> <!-- close jumbotron -->


<br />
<div class="text-center">
    <div class="container">
        <h1 class="font-weight-light font-weight-bold text-secondary" style="font-family:'Montserrat';">
            Proverbs 3 Chapter 9 - 10
        </h1>
        <br />
        <p style="font-family:'Montserrat';">
            &quot;Honor the Lord with your wealth, with the firstfruits of all your crops,<br />
            then your barns will be filled to overflowing, and your vats will brim over with new wine&quot;
        </p>
    </div>
</div>
<br />


<div class="container text-center">

    <h1 class="font-weight-light font-weight-bold text-secondary" style="font-family:'Montserrat';">
        Tithing
    </h1>
    <br />
    <p class="text-center" style="font-family:'Montserrat';">
        Tithing is a spiritual practice just like prayer or meditation. It is the regular act of giving the first fruits of your labors to God.

        Tithing is an act of faith based on the divine principle that everything we have comes from God's hands.

        If you want to invite God more fully into your life through tithing, agree in your heart on a percentage of your income that you will give to Him regularly.

        Give God the responsibility of taking care of you. If you continue this practice, you will ultimately be free of the fear of not having enough money because you will KNOW from your own personal experiences that God will fulfill your needs.
    </p>

</div>
<div class="container text-center">

    <h1 class="font-weight-light font-weight-bold text-secondary" style="font-family:'Montserrat';">
        Offering
    </h1>
    <br />
    <p class="text-center" style="font-family:'Montserrat';">
        An offering is that which is freely given by Christians to the work of the Lord, the local church, and/or ministries and missions. But offerings are far more than simply the check we write on Sunday. We are to offer much more to God than our monetary resources.
        <br/><br />
        Romans 12:1 exhorts us to offer our bodies as living sacrifices, holy and pleasing to God as part of our worship. Romans 6:13 gives the reason for offering ourselves: because we are those who have been brought from death to life and as such we are to offer the parts of your body to him as instruments of righteousness.
       <br/><br/>God is not nearly as interested in our monetary offerings as He is in our submission and obedience. The truth is that He doesn't need our resources to accomplish His plans and purposes. After all He owns the cattle on a thousand hills (Psalm 50:10) and needs nothing from us.
        <br /><br />
        What He desires, however, and what He values, is the heart that overflows with gratitude and thanksgiving to the God who saved us and who gives us all things, knowing our needs before we even ask (Matthew 6:8). Such a heart gives generously, willingly and cheerfully in response to the love and grace that abound in Christ (2 Corinthians 9:6-8).

    </p>

</div>
<div class="container">

</div>

<div class="jumbotron JumboImage_Two text-white text-center">
    <h1 class="font-weight-bold text-center" style="font-family:'Montserrat';">
        Various Ways Of Giving
    </h1>
    <br />
    <br />
    <div class="container text-center">

        <div class="row">
            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            Sundays
                        </h1>
                        <p class="card-text text-white font-weight-bold" style="font-family:'Montserrat';"> 

                            You are able to give at any of our services by completing the details on a giving envelope and placing it in one of the offering containers.

                        </p>
                        <div class="text-center text-white">
                            <i class="fa fa-facebook-square text-center"> </i> |
                            <i class="fa fa-twitter-square text-center"> </i>  |
                            <i class="fa fa-envelope text-center"> </i>
                        </div>
                        <div class="text-center text-white font-weight-bold" style="font-family:'Montserrat';">

                            <i class="fa fa-map-marker"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110

                        </div>

                    </div>
                </div>


            </div>

            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            EFT
                        </h1>
                        <p class="card-text text-white font-weight-bold" style="font-family:'Montserrat';">

                            You are able to give at anytime by simply using an Electionic File Transfer and referecing your payment with your name and surname.
                        </p>
                        <div class="text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            ACC Name : EMI
                            ACC No   : 62106975107
                            Branch Code: 250655
                            Bank:FNB
                            Reference: Your Names
                        </div>



                    </div>
                </div>


            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064;font-family:'Montserrat';" >
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold">
                            Donations
                        </h1>
                        <p class="card-text text-white font-weight-bold">

                            You are able to donate with anything that you have in support of our local communities that are desperately in need of clothing and shoes.

                        </p>
                        <div class="text-center text-white">
                            <i class="fa fa-facebook-square text-center"> </i> |
                            <i class="fa fa-twitter-square text-center"> </i>  |
                            <i class="fa fa-envelope text-center"> </i>
                        </div>
                        <div class="text-center text-white font-weight-bold">

                            <i class="fa fa-map-marker"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064;">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold">
                            Food Parcels
                        </h1>
                        <p class="card-text text-white font-weight-bold">
                            You are able to give food parcels to our local communities full of people that are in hunger and struggling to feed themselves due to high rate of poverty and unemployment.
                        </p>
                        <div class="text-center text-white">
                            <i class="fa fa-facebook-square text-center"> </i> |
                            <i class="fa fa-twitter-square text-center"> </i>  |
                            <i class="fa fa-envelope text-center"> </i>
                        </div>
                        <div class="text-center text-white font-weight-bold">
                            <i class="fa fa-map-marker"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  
    <hr />

