
@{
    ViewBag.Title = "Giving";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
            Giving
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Tithing is our foundation for giving. The Bible teaches us that it is the baseline standard for giving. When we give the first 10% of our income to the church, this is an expression of putting God first in our lives. Tithing is an act of worship that expresses our gratitude to God, our faith, and love for others.Offerings are free-will offerings above and beyond the tithe.
        </h6>

    </div>

</div>


@*<form action="https://www.payfast.co.za/eng/process" name="form_adf558dcaf33e9e7a84e9cbe83ecef4f" onsubmit="return click_adf558dcaf33e9e7a84e9cbe83ecef4f( this );" method="post">
    
    <input type="hidden" name="cmd" value="_paynow">
    <input type="hidden" name="receiver" value="12907473">
    <input type="hidden" name="item_name" value="Empowerment Ministries International">
    <input type="hidden" name="amount" value="10.00">
    <input type="hidden" name="item_description" value="">
    <input type="hidden" name="return_url" value="https://www.emichurch.org.za/Giving">
    <input type="hidden" name="cancel_url" value="https://www.emichurch.org.za/Giving">

    <table>
        <tr><td><font color="red">*</font>&nbsp;Price</td><td><input type="text"  name="custom_amount" class="pricing form-control" value="10.00"></td></tr>
        <tr><td colspan=2 align=center><input type="image" src="https://www.payfast.co.za/images/buttons/dark-large-paynow.png" width="174" height="59" alt="Pay Now" title="Pay Now with PayFast"></td></tr>
    </table>
</form>*@

<div class="text-center">
    <div class="container">
        <h1 class="font-weight-light font-weight-bold text-secondary" style="font-family:'Montserrat';">
            Proverbs 3 Chapter 9 - 10
        </h1>
        <br />
        <p style="font-family:'Montserrat';font-size:14pt;">
            &quot;Honor the Lord with your wealth, with the firstfruits of all your crops,<br />
            then your barns will be filled to overflowing, and your vats will brim over with new wine&quot;
        </p>
    </div>
</div>
<br />


<div class="container text-center">

    <h1 class="font-weight-light font-weight-bold text-secondary" style="font-family:'Montserrat';">
        Giving
    </h1>
    <br />
    <p class="text-center" style="font-family:'Montserrat';font-size:14pt;">
        Tithing means 10% of your increase, or income, belongs to God. The bible shows people tithed to God before the Law of Moses and the establishment of the nation of Israel (Genesis 14:20).<br /><br /> God taught the people of Israel to tithe under the Law of Moses (Leviticus 27:30). Jesus taught we should not leave undone, or stop, tithing (Luke 11:42). The book of Hebrews, written to New Testament believers, teaches that when we tithe, we give money to men on earth, but Jesus receives it in heaven (Hebrews 7:8).<br /><br /> It is, therefore, clear that tithing is a Godly principle to be exercised in all eras, or dispensations, of human existence.
        Everything in life starts with a Seed—including the things we receive by faith. God says in Genesis 8:22, “While the earth remains, seedtime and harvest…shall not cease.<br /><br />” The eternal law of Seedtime and Harvest, planting and reaping, giving and receiving will not change as long as the earth remains.
        When we put our faith in God’s hands like a Seed we plant, we are giving Him something to work with, and He will send the miracle we need.<br /><br /> No matter how small our faith seems to be, it will meet needs and solve problems that appear as impossible to move as mountains.
    </p>

</div>

<div class="container">

</div>

<div class="jumbotron JumboImage_Two text-white text-center">
    <h1 class="font-weight-bold text-center" style="font-family:'Montserrat';">
        Various Ways Of Giving
    </h1>
    <br />
    <br />
    <div class="container text-center">

        <div class="row">
            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            Sundays
                        </h1>
                        <p class="card-text text-white font-weight-bold" style="font-family:'Montserrat';">

                            You are able to give at any of our services by completing the details on a giving envelope and placing it in one of the offering containers.

                        </p>
                        <div class="text-center text-white">
                            <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                                <i class="fa fa-facebook-square text-center text-white"></i>
                            </a>  |
                            <a href="https://twitter.com/emichurch?lang=en">
                                <i class="fa fa-twitter-square text-center text-white"> </i>
                            </a>

                        </div>
                        <div class="text-center text-white font-weight-bold" style="font-family:'Montserrat';">

                            <i class="fa fa-map-marker"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110

                        </div>

                    </div>
                </div>


            </div>

            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            EFT
                        </h1>
                        <p class="card-text text-white font-weight-bold" style="font-family:'Montserrat';">

                            You are able to give at anytime by simply using an Electionic File Transfer and referencing your payment with your name and surname.
                        </p>
                        <div class="text-center text-white font-weight-bold" style="font-family:'Montserrat';">
                            ACC Name : EMI
                            ACC No   : 62106975107
                            Branch Code: 250655
                            Bank:FNB
                            Reference: Your Names
                        </div>



                    </div>
                </div>


            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064;font-family:'Montserrat';">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold">
                            Donations
                        </h1>
                        <p class="card-text text-white font-weight-bold">

                            You are able to donate with anything that you have in support of our local communities that are desperately in need of clothing and shoes.

                        </p>
                        <div class="text-center text-white">
                            <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                                <i class="fa fa-facebook-square text-center  text-white"></i>
                            </a>  |
                            <a href="https://twitter.com/emichurch?lang=en">
                                <i class="fa fa-twitter-square text-center text-white"> </i>
                            </a>
                        </div>
                        <div class="text-center text-white font-weight-bold">

                            <i class="fa fa-map-marker text-white"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">

                <div class="card" style="background-color:#0f4064;">
                    <div class="card-body">
                        <h1 class="card-title text-center text-white font-weight-bold">
                            Food Parcels
                        </h1>
                        <p class="card-text text-white font-weight-bold">
                            You are able to give food parcels to our local communities full of people that are in hunger and struggling to feed themselves due to high rate of poverty and unemployment.
                        </p>
                        <div class="text-center text-white ">
                            <a href="https://www.facebook.com/Empowerment-Ministries-International-806682642758856/?ref=page_internal">
                                <i class="fa fa-facebook-square text-center text-white"></i>
                            </a>  |
                            <a href="https://twitter.com/emichurch?lang=en">
                                <i class="fa fa-twitter-square text-center text-white"> </i>
                            </a>
                        </div>
                        <div class="text-center text-white font-weight-bold">
                            <i class="fa fa-map-marker"> </i> 10 Rhodes Avenue | <i class="fa fa-info"> </i> 051 430 2110
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<script language="JavaScript" type="text/javascript">

    function click_adf558dcaf33e9e7a84e9cbe83ecef4f(aform_reference) {
        var aform = aform_reference;
        aform['amount'].value = Math.round(aform['amount'].value * Math.pow(10, 2)) / Math.pow(10, 2);
        aform['custom_amount'].value = aform['custom_amount'].value.replace(/^\s+|\s+$/g, "");
        if (!aform['custom_amount'].value || 0 === aform['custom_amount'].value.length || /^\s*$/.test(aform['custom_amount'].value)) {
            alert('An amount is required');
            return false;
        }
        aform['amount'].value = Math.round(aform['custom_amount'].value * Math.pow(10, 2)) / Math.pow(10, 2);
    }

</script>