
@{
    ViewBag.Title = "Homecells";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
           Homecells
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

            Empowerment Ministries International is a church led by Pastor MB Kareli and his wife Mrs Thulisiwe.<br />We aim to advance God's kingdom on earth as well as to raise up people in South Africa who will impact the continent and the world.
        </h6>
    </div>

</div> <!-- close jumbotron -->
