@{
               
                ViewBag.Title = "Ministries";
}

<div class="jumbotron JumboImage text-center text-white ">
    <div class="container" style="padding-top:50px;padding-bottom:50px;">
        <h1 class="font-weight-bold" style="font-family:'Montserrat';font-size:50pt;">
           Ministries
        </h1>

        <h6 class="text-white font-weight-light" style="font-family:'Montserrat';font-size:16pt;">

         EMI has several ministries serving a specific purpose in the house of the Lord.All our church congragants are welcome to join any of ministry of their choice. 
        </h6>
    </div>
</div> <!-- close jumbotron -->

<h1 class="font-weight-bold text-center text-secondary" style="font-family:'Montserrat';font-size:30pt;">
    Our Ministries
</h1>
<h1 class="font-weight-light text-center" style="font-family:'Montserrat';font-size:25pt;">
    Choose where you want to serve
</h1>

<div class="jumbotron bg-transparent">
    <div class="container">
        <div class="card-columns">

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Outreach & Evangelism
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>
            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Pastors & Ministers
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>
            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Praise & Worship
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>
            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Sound, Graphics & Media
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Youth Ministry Team
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>
            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                       Kingdom Kids Ministry
                    </h1>

                    

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Women's Ministry
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Band  & Drums Crew
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button>
                </div>
            </div>

            <div class="card" style="background-color:#0f4064">
                <div class="card-header text-center">
                    <h1 class="text-white font-weight-bold">
                        Kingdom Ushers Ministries
                    </h1>

                    <button type="submit" id="btnLearnMore" class="btn btn-lg btn-outline-info font-weight-bold">
                        <i class="fa fa-info-circle"></i> Join Now
                    </button> 
                </div>
            </div>
        </div>
</div></div>